*.log
JumpingBallGameJam/Library/shadercompiler-UnityShaderCompiler.exe0.log
JumpingBallGameJam/Temp/UnityLockfile
JumpingBallGameJam/Library/metadata/00/
JumpingBallGameJam/Temp/
JumpingBallGameJam/Library/ScriptAssemblies/BiltinAssemblies.stamp
JumpingBallGameJam/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
JumpingBallGameJam/Library/assetDatabase3
